<div
  class='
    p-lg m-r-xl
    circle has-background-black-ter
    flex-row justify-content-center align-items-center'
  style='
  width: 300px; height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 2px 11.5px 46px;
  '
>
  <Image @of='react-router.png' />
</div>
