<nav class='navbar'>
  <div class='navbar-menu'>
    {{#link-to 'route-a' class='navbar-item'}}
      Link to A
    {{/link-to}}

    {{#link-to 'route-b' class='navbar-item'}}
      Link to B
    {{/link-to}}
  </div>
</nav>

{{outlet}}
