<BulletSlide @text='Components and Local State'/>

<DemoSlide>
  <EmberComponent />
</DemoSlide>

<CodeSlide class='react-color' @title='React' @name='react-component.tsx' />
<CodeSlide class='ember-color' @title='Ember' @name='ember-component.ts' />

<CodeSlide class='react-color' @title='React' @name='react-component-template.tsx' />
<CodeSlide class='ember-color' @title='Ember' @name='ember-component-template.hbs' />

<Slide as |s|>
  <h3 class='ember-color'>Ember Sparkles</h3>

  <div class='flex-row'>
    <s.LeftCode @noScroll={{true}} @name='sparkles-component.ts' />
    <s.RightCode @name='sparkles-component-template.hbs' />
  </div>
</Slide>

