<footer class='footer'>

  <span class='todo-count'>
    <strong data-test-todo-count-text>{{todosCount}} {{itemWord}} left</strong>
  </span>

  <ul class="filters">
    <li data-test-filter-all>
      {{#link-to 'application' class=(if showAll 'selected')}}
        All
      {{/link-to}}
    </li>

    <li data-test-filter-active>
      {{#link-to 'uncompleted' class=(if showActive 'selected')}}
        Active
      {{/link-to}}
    </li>

    <li data-test-filter-completed>
      {{#link-to 'completed' class=(if showCompleted 'selected')}}
        Completed
      {{/link-to}}
    </li>
  </ul>

  {{#if showClearButton}}
    <button
      data-test-clear-button
      onclick={{action 'clearCompleted'}}
      class="clear-completed">
      Clear completed
    </button>
  {{/if}}
</footer>
