<Slide>
  <h2>Concurrency</h2>
</Slide>

<DemoSlide>
  <AsyncButton />
</DemoSlide>

<CodeSlide class='ember-color' @title='Ember' @name='ember-async-button.ts' />
<CodeSlide class='ember-color' @title='Ember' @name='ember-async-button-template.hbs' />
