<Slide as |s|>
  <s.Title>Concurrency</s.Title>
</Slide>

<DemoSlide as |s|>
  <AsyncButton />

  <s.Notes data-markdown>
    This is the canonical way
  </s.Notes>
</DemoSlide>

<Slide as |s|>
  <h3><EmberWord /></h3>

  <div class='flex-row'>
    <s.LeftCode @name='ember-async-button.ts' />
    <s.RightCode @name='ember-async-button-template.hbs' />
  </div>

  <s.Notes data-markdown>
    - the addon Ember concurrency powers most of this
    - uses generator function to implement cancel-able promises
  </s.Notes>
</Slide>
