
.reveal-embedded-presentation {
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  max-width: 800px;
}

// https://stackoverflow.com/questions/47841764/how-do-i-make-sure-an-iframes-aspect-ratio-is-responsive
// aka, keeping aspect ratio
.reveal-embedded-presentation-wrapper {
  border: 1px solid black;
  position: relative;
  padding-bottom: 56.25%; // = 16:9
  width: 100%;
  // height: 0;
  iframe {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0; top: 0;
    border: none !important;
  }

}

.reveal-speaker-notes {
  font-family: Helvetica;

  .reveal-embedded-presentation {
    max-width: initial;
  }

  #current-slide,
  #upcoming-slide,
  #speaker-controls {
    padding: 6px;
  }

  #upcoming-slide .label {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 14px;
    z-index: 2;
    color: rgba( 255, 255, 255, 0.9 );
  }

    .speaker-controls-time.hidden,
    .speaker-controls-notes.hidden {
      display: none;
    }

    .speaker-controls-notes {
      color: white;
      pre, code {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        word-wrap: break-word;
      }
    }

    .speaker-controls-time .label,
    .speaker-controls-notes .label {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 0.66em;
      color: #666;
      margin: 0;
    }

    .speaker-controls-time {
      border-bottom: 1px solid rgba( 200, 200, 200, 0.5 );
      margin-bottom: 10px;
      padding: 10px 16px;
      padding-bottom: 20px;
      cursor: pointer;
      color: white;
    }

    .speaker-controls-time .reset-button {
      opacity: 0;
      float: right;
      color: #666;
      text-decoration: none;
    }
    .speaker-controls-time:hover .reset-button {
      opacity: 1;
    }

    .speaker-controls-time .timer,
    .speaker-controls-time .clock {
      width: 50%;
      font-size: 1.9em;
    }

    .speaker-controls-time .timer {
      float: left;
    }

    .speaker-controls-time .clock {
      float: right;
      text-align: right;
    }

    .speaker-controls-time span.mute {
      color: #bbb;
    }

    .speaker-controls-notes {
      padding: 10px 16px;
    }

    .speaker-controls-notes .value {
      margin-top: 5px;
      line-height: 1.4;
      // font-size: 1.2em;
      font-size: 1em;
    }

  .clear {
    clear: both;
  }

  @media screen and (max-width: 1080px) {
    #speaker-controls {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 900px) {
    #speaker-controls {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 800px) {
    #speaker-controls {
      font-size: 12px;
    }
  }
}

.erjs {
  &-SpeakerControlsNotes {
    &-noteLabel {

    }
    &-noteText {

      ul {
        padding-left: 20px;
        line-height: 1.2;
      }
    }
  }
}
