<section ...attributes>
  {{yield
    (hash
      Notes=(component 'notes')
      Title=(component 'title')
      ContextTitle=(component 'context-title')
      LeftCode=(component 'left-code')
      RightCode=(component 'right-code')
    )
  }}
</section>
