<SectionTitleSlide as |s|>
  <s.Title>Questions?</s.Title>

  <hr class='m-t-xl m-b-xxl'>

  <div>
    This presentation made with
    <br />

    <Image @of='ember.png' class='w-25' />
  </div>
  <br>
  <br>
  <div class='is-size-6'>
    and Reveal.JS <br>
    with a lot of help from https://github.com/chrislopresto/ember-reveal-js
  </div>
</SectionTitleSlide>

