<SectionTitleSlide as |s|>
  <s.Title>Questions?</s.Title>

  <hr class='m-t-xl m-b-xxl'>

  <div>
    This presentation made with
    <br />

    <Image @of='ember.png' class='w-25' />
  </div>
</SectionTitleSlide>

