<SectionTitleSlide as |s|>
  <s.Title>Routing</s.Title>
</SectionTitleSlide>

<DemoSlide>
  <RoutingDemo />
</DemoSlide>

<Slide as |s|>
  <s.ContextTitle>
    <ReactWord /> - Routing
  </s.ContextTitle>

  <div class='flex-row justify-content-center'>
    <ReactRouterLogo />
  </div>

  <s.Notes data-markdown>
    - separate package
    - unrelated to facebook
    - generally seen is pretty ok
  </s.Notes>
</Slide>
