<Slide class='flex-column' as |s|>
  <div>
    <img
      class='no-margins'
      src='/images/ReactVEmber.png'
      style='float: left; max-height: 500px;'
      {{action @openPresenterView}}
    >
  </div>

  <div class='flex-row justify-content-end'>
    <div>
      <h4>Preston Sego</h4>
      <h5>@NullVoxPopuli</h5>

      <div>
        <IconLink @to='https://twitter.com/NullVoxPopuli' @image='twitter.png' />
        <IconLink @to='https://github.com/NullVoxPopuli' @image='github.png' />
        <IconLink @to='https://gitlab.com/NullVoxPopuli' @image='gitlab.png' />
        <IconLink @to='https://dev.to/NullVoxPopuli' @image='devto.png' />
      </div>
    </div>
  </div>


  <s.Notes data-markdown>
    - Hello, I'm here to talk about React and Ember
    - My name is...
    - My alias is...
    - This presentation is on github, so you can click each of the icons down there to view my twitter, github, gitlab, and dev.to profile.


    Ok, so a little about myself.
  </s.Notes>
</Slide>
