<Slide>
  <img
    class='no-margins'
    src='/images/ReactVEmber.png'
    style='float: left;'
  >

  <div style='float: right'>
    <h4>Preston Sego</h4>
    <h5>@NullVoxPopuli</h5>

    <div>
      <IconLink @to='https://twitter.com/NullVoxPopuli' @image='twitter.png' />
      <IconLink @to='https://github.com/NullVoxPopuli' @image='github.png' />
      <IconLink @to='https://gitlab.com/NullVoxPopuli' @image='gitlab.png' />
      <IconLink @to='https://dev.to/NullVoxPopuli' @image='devto.png' />
    </div>
  </div>
</Slide>
