<SectionTitleSlide as |s|>
  <s.Title>Testing</s.Title>
</SectionTitleSlide>

<Slide as |s|>
  <Image @of='testing-quote.png' class='w-75' />
</Slide>


<Slide as |s|>
  <s.ContextTitle>
    <ReactWord /> - Testing
  </s.ContextTitle>

  <h3>Jest, Enzyme</h3>

  <s.Notes data-markdown>
    - No matter the toolset, hooking up the testing tools
      to your project will be a manual process
  </s.Notes>
</Slide>

<Slide as |s|>
  <s.ContextTitle>
    <EmberWord /> - Testing
  </s.ContextTitle>

  <s.Notes data-markdown>
    - Everything needed for testing is bundeled with ember
    - 0 setup
    - 0 config
  </s.Notes>
</Slide>
