<h1>todos</h1>
<form {{action (pipe (action props.addTodo props.text) (action (mut props.text) "")) on="submit"}}>
  <input
    type="text"
    class="new-todo"
    placeholder="What needs to be done?"
    value={{props.text}}
    oninput={{action (mut props.text) value="target.value"}}
    autofocus>

  <input style="display: none" type="submit" value="submit" />
</form>
