<header class='header'>
  <form {{action 'didSubmit' on="submit"}}>
    <input
      type="text"
      class="new-todo"
      placeholder="What needs to be done?"
      value={{text}}
      oninput={{action (mut text) value="target.value"}}
      autofocus>

    <input style="display: none" type="submit" value="submit" />
  </form>
</header>
