{
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "@contexts": ["./src/contexts"],
                "@ui": ["./src/ui"]
            }
        }]
    ]
}
