<SectionTitleSlide as |s|>
  <s.Title>
    Installation and app creation differences
  </s.Title>
</SectionTitleSlide>

<ReactSlide />

<Slide as |s|>
  <s.ContextTitle class='contextual-title react-color'>
    React - starting a new project
  </s.ContextTitle>

  <h3>Webpack</h3>

  <s.Notes>
    Starting from scratch is an option, and is a not for the faint of heart.

    https://medium.com/@adamramberg/setting-up-a-react-app-from-scratch-42521a118b10
  </s.Notes>
</Slide>


<Slide as |s|>
  <s.ContextTitle class='contextual-title react-color'>
    React - starting a new project
  </s.ContextTitle>

  <div class='has-text-left'>
    <h4 class='has-text-weight-bold'>Webpack</h4>
    <ul>
      <li>Copy from somewhere else</li>
      <li>or spend a few days learning how it all works</li>
    </ul>
  </div>

  <s.Notes>
    Starting from scratch is an option, and is a not for the faint of heart.

    Very powerful hot mess
  </s.Notes>
</Slide>

<EmberSlide />


<Slide as |s|>
  <s.ContextTitle class='contextual-title ember-color'>
    Ember - starting a new project
  </s.ContextTitle>

  <h4 class='w-50 margin-center force-large'>{{code-snippet name='ember-new.bash'}}</h4>

  <s.Notes>
    Core to ember
    - never going to fall behind, as the ember-cli is required for building ember apps
  </s.Notes>
</Slide>
