<SectionTitleSlide as |s|>
  <s.Title>
    Installation and app creation differences
  </s.Title>
</SectionTitleSlide>

<ReactSlide />

<Slide as |s|>
  <s.ContextTitle>
    <span class='react-color'>React</span> - starting a new project
  </s.ContextTitle>

  <h3>Webpack</h3>

  <s.Notes data-markdown>
    https://medium.com/@adamramberg/setting-up-a-react-app-from-scratch-42521a118b10

    There is also create-react-app and parcel, but most webpack is by far the most common
  </s.Notes>
</Slide>


<Slide as |s|>
  <s.ContextTitle>
    <span class='react-color'>React</span> - starting a new project
  </s.ContextTitle>

  <div class='has-text-left'>
    <h4 class='has-text-weight-bold'>Webpack</h4>
    <ul>
      <li>Copy from somewhere else</li>
      <li>or spend a few days learning how it all works</li>
    </ul>
  </div>

  <s.Notes data-markdown>
    Very powerful hot mess
  </s.Notes>
</Slide>

<EmberSlide />


<Slide as |s|>
  <s.ContextTitle>
    <span class='ember-color'>Ember</span> - starting a new project
  </s.ContextTitle>

  <h4 class='w-50 margin-center force-large'>{{code-snippet name='ember-new.bash'}}</h4>

  <s.Notes data-markdown>
  </s.Notes>
</Slide>


<Slide as |s|>
  <s.ContextTitle>
    <span class='ember-color'>Ember</span> - starting a new project
  </s.ContextTitle>

  <ul>
    <li>ember-cli is core to ember</li>
    <li>set up for you:
      <ul>
        <li>Bundling</li>
        <li>Acceptance, integration, and unit testing</li>
        <li>Routing</li>
        <li>Travis CI config</li>
        <li>Linting</li>
        <li>Build Environments</li>
        <li>Asset fingerprinting</li>
      </ul>
    </li>
    <li>configuration is not hidden</li>
  </ul>

  <s.Notes data-markdown>
    Core to ember
    - never going to fall behind, as the ember-cli is required for building ember apps
    - tests are against a real browser
    - configuration is well documented
  </s.Notes>
</Slide>


<Slide as |s|>
  <Image @of='magic.gif' class='w-50' />

  <s.Notes data-markdown>
    If that or anything coming sounds like magic to you, well...

    there is no magic here...
    Only abstractions

    programatically enforced conventions :)
  </s.Notes>
</Slide>
