<SectionTitleSlide as |s|>
  <s.Title>Who is this talk for?</s.Title>
</SectionTitleSlide>

<BulletSlide @text='People familiar with or Interested in Javascript and / or Single Page Apps' as |s|>
  <s.Notes data-markdown>
    Some slides will have a lot of detail and / or code, but understanding all of it
    isn't neccissary, as (hopefully) the gist will be somewhat apparent.

    - BEGIN!
  </s.Notes>
</BulletSlide>

<Slide>
  <img src='/images/ReactVEmber.png'>

</Slide>



<SectionTitleSlide as |s|>
  <s.Title>Looking at it from the outside</s.Title>
  <s.Notes data-markdown>
    At the highest of levels, there are ways in which each can be used to solve the same problems,

    but it's the details of implementation that differ, so why would one even consider one over the other?

    Over the next whatever amount of time, you'll see some key differences and decisions that need to be made in each.
  </s.Notes>
</SectionTitleSlide>

<ReactSlide />

<BulletSlide class='react-color' @text='View Library' />
<BulletSlide class='react-color' @text='Aggressively Few Opinions' />
<BulletSlide class='react-color' @text='Many Ways to Solve Problems' />
<BulletSlide class='react-color' @text='Supported by Facebook' />


<EmberSlide />

<BulletSlide class='ember-color' @text='Framework' />
<BulletSlide class='ember-color' @text='Programatically Enforced Opinions' />
<BulletSlide
  class='ember-color'
  @text='Few recommended ways of doing things'
  @subtext='but with options, just in case'
/>
<BulletSlide class='ember-color' @text='Supported by a Community' as |s|>
  <s.Notes data-markdown>
    Truely open source
  </s.Notes>
</BulletSlide>


<Slide as |s|>
  <h2>How do we compare these?</h2>
  <s.Notes>
    - Ember provides most functionality you need to build an app<br>
    - React will need a lot of decisions in order build something of real worth.<br><br>

    The decisions made throughout this presentation for the react examples will use a combination of community favorites, and tools less common to the community at large, but have overall very good DX (developer experience) -- somewhat comparable to ember's suite of tools.<br><br>

    some comparisons may not come across as fair, so this is a disclaimer<br>
    - I can only work with my own knowledge, and what I am able to learn what is relevant to my job and side projects<br>
    - If you know a better way to do something, please let me know, message me on twitter or something -- always happy to discuss things<br>

    - Also, we're comparing a framework that has very well thought out patterns and whos goal is to abstract the mundane... so there may not always be clean comparisons.<br>
  </s.Notes>
</Slide>

