<Slide>
  <img src='/images/ReactVEmber.png'>

</Slide>


<SectionTitleSlide as |s|>
  <s.Title>From the outside in</s.Title>
  <s.Notes>
    At the highest of levels, there are ways in which each can be used to solve the same problems, but it's the details of implementation that differ, so why would one even consider one over the other? Over the next whatever amount of time, you'll see some key differences and decisions that need to be made in each.
  </s.Notes>
</SectionTitleSlide>

<ReactSlide />

<BulletSlide class='react-color' @text='View Library' />
<BulletSlide class='react-color' @text='Aggressively Few Opinions' />
<BulletSlide class='react-color' @text='Many Ways to Solve Problems' />
<BulletSlide class='react-color' @text='Supported by Facebook' />


<EmberSlide />

<BulletSlide class='ember-color' @text='Framework' />
<BulletSlide class='ember-color' @text='Programatically Enforced Opinions' />
<BulletSlide
  class='ember-color'
  @text='Few recommended ways of doing things'
  @subtext='but with options, just in case'
/>
<BulletSlide class='ember-color' @text='Supported by a Community' />


<Slide as |s|>
  <h2>How do we compare these?</h2>
  <s.Notes data-markdown>
    They have nothing in common

    - Ember provides most functionality you need to build an app
    - React will need a lot of decisions made in order to build an app. The decisions made throughout will use a combination of community favorites, and tools less common to the community at large, but have overall very good DX (developer experience), comparable to ember's suite of tools.

  </s.Notes>
</Slide>

