<Slide>
  <img src='/images/ReactVEmber.png'>

</Slide>


<Slide>
  <h1>From the outside in</h1>
</Slide>

<Slide>
  <Image @of='react.png' />
</Slide>

<BulletSlide @class='react-color' @text='View Library' />
<BulletSlide @class='react-color' @text='Aggressively Few Opinions' />
<BulletSlide @class='react-color' @text='Many Ways to Solve Problems' />
<BulletSlide @class='react-color' @text='Supported by Facebook' />



<Slide>
  <Image @of='ember.png' />
</Slide>


<BulletSlide @class='ember-color' @text='Framework' />
<BulletSlide @class='ember-color' @text='Programatically Enforced Opinions' />
<BulletSlide @class='ember-color' @text='Few recommended ways of doing things' />
<BulletSlide @class='ember-color' @text='Supported by a Community' />

